@import url('https://fonts.googleapis.com/css?family=Bungee|Londrina+Shadow|Passion+One|Poiret+One&effect=3d|emboss');


$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

$bungee:'Bungee', cursive;
$londrina:'Londrina Shadow', cursive;
$passion:'Passion One', cursive;
$poiret: 'Poiret One', cursive;
